@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Merriweather%3Aital%2Cwght%400%2C400%3B0%2C700%3B1%2C400%3B1%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B1%2C400%3B1%2C500&display=swap");

.plasmic_tokens {
  --token-vNzSR36_oQD234: #ffffff;
  --plasmic-token-white: var(--token-vNzSR36_oQD234);
  --token-7Q5cjq6GOd8LF0: #e5aa43;
  --plasmic-token-gold: var(--token-7Q5cjq6GOd8LF0);
  --token-ROg-HHkLnrqaW7: 1px;
  --plasmic-token-padd-menu: var(--token-ROg-HHkLnrqaW7);
}

.plasmic_default_styles {
  --mixin-KZqDtMvEa8auNt_font-family: "Inter";
  --mixin-KZqDtMvEa8auNt_font-size: 16px;
  --mixin-KZqDtMvEa8auNt_font-weight: 400;
  --mixin-KZqDtMvEa8auNt_font-style: normal;
  --mixin-KZqDtMvEa8auNt_color: #535353;
  --mixin-KZqDtMvEa8auNt_text-align: left;
  --mixin-KZqDtMvEa8auNt_text-transform: none;
  --mixin-KZqDtMvEa8auNt_line-height: 1.5;
  --mixin-KZqDtMvEa8auNt_letter-spacing: normal;
  --mixin-KZqDtMvEa8auNt_white-space: pre-wrap;
  --mixin-KZqDtMvEa8auNt_user-select: text;
  --mixin-KZqDtMvEa8auNt_text-decoration-line: none;
  --mixin-KZqDtMvEa8auNt_text-overflow: clip;
  --mixin-COOYHpioCZ9j-s_color: var(--token-vNzSR36_oQD234);
  --mixin-COOYHpioCZ9j-s_font-weight: 400;
  --mixin-COOYHpioCZ9j-s_font-size: 52px;
  --mixin-COOYHpioCZ9j-s_line-height: 1;
  --mixin-COOYHpioCZ9j-s_letter-spacing: 0px;
  --mixin-COOYHpioCZ9j-s_font-family: "Merriweather";
  --mixin-DQYm63DNjw-48I_color: #000000;
  --mixin-DQYm63DNjw-48I_font-weight: 500;
  --mixin-DQYm63DNjw-48I_font-size: 36px;
  --mixin-DQYm63DNjw-48I_line-height: 1.1;
  --mixin-DQYm63DNjw-48I_letter-spacing: 0px;
  --mixin-DQYm63DNjw-48I_font-family: "Merriweather";
  --mixin-OvdSpMXQlkEYua_color: var(--token-7Q5cjq6GOd8LF0);
  --mixin-ZKnHZkUjbh5D0N_color: #000000;
  --mixin-ZKnHZkUjbh5D0N_font-weight: 500;
  --mixin-ZKnHZkUjbh5D0N_font-size: 23px;
  --mixin-ZKnHZkUjbh5D0N_line-height: 1.2;
  --mixin-ZKnHZkUjbh5D0N_letter-spacing: 0px;
  --mixin-OYkqlscH9N0EZH_color: #000000;
  --mixin-OYkqlscH9N0EZH_font-weight: 600;
  --mixin-OYkqlscH9N0EZH_font-size: 24px;
  --mixin-OYkqlscH9N0EZH_line-height: 1.3;
  --mixin-OYkqlscH9N0EZH_letter-spacing: -0.5px;
  --mixin-jQXiWNGhthBUYQ_font-family: "Inconsolata";
  --mixin-jQXiWNGhthBUYQ_padding-top: 1px;
  --mixin-jQXiWNGhthBUYQ_padding-right: 4px;
  --mixin-jQXiWNGhthBUYQ_padding-bottom: 1px;
  --mixin-jQXiWNGhthBUYQ_padding-left: 4px;
  --mixin-jQXiWNGhthBUYQ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-jQXiWNGhthBUYQ_border-top-color: #dddddd;
  --mixin-jQXiWNGhthBUYQ_border-top-width: 1px;
  --mixin-jQXiWNGhthBUYQ_border-top-style: solid;
  --mixin-jQXiWNGhthBUYQ_border-right-color: #dddddd;
  --mixin-jQXiWNGhthBUYQ_border-right-width: 1px;
  --mixin-jQXiWNGhthBUYQ_border-right-style: solid;
  --mixin-jQXiWNGhthBUYQ_border-bottom-color: #dddddd;
  --mixin-jQXiWNGhthBUYQ_border-bottom-width: 1px;
  --mixin-jQXiWNGhthBUYQ_border-bottom-style: solid;
  --mixin-jQXiWNGhthBUYQ_border-left-color: #dddddd;
  --mixin-jQXiWNGhthBUYQ_border-left-width: 1px;
  --mixin-jQXiWNGhthBUYQ_border-left-style: solid;
  --mixin-jQXiWNGhthBUYQ_border-top-left-radius: 3px;
  --mixin-jQXiWNGhthBUYQ_border-top-right-radius: 3px;
  --mixin-jQXiWNGhthBUYQ_border-bottom-right-radius: 3px;
  --mixin-jQXiWNGhthBUYQ_border-bottom-left-radius: 3px;
  --mixin-EJgFr09PffkiFr_color: #888888;
  --mixin-EJgFr09PffkiFr_padding-left: 10px;
  --mixin-EJgFr09PffkiFr_border-left-width: 3px;
  --mixin-EJgFr09PffkiFr_border-left-style: solid;
  --mixin-EJgFr09PffkiFr_border-left-color: #dddddd;
  --mixin-NgihQT48X29AZm_padding-top: 3px;
  --mixin-NgihQT48X29AZm_padding-right: 6px;
  --mixin-NgihQT48X29AZm_padding-bottom: 3px;
  --mixin-NgihQT48X29AZm_padding-left: 6px;
  --mixin-NgihQT48X29AZm_font-family: "Inconsolata";
  --mixin-NgihQT48X29AZm_border-top-left-radius: 3px;
  --mixin-NgihQT48X29AZm_border-top-right-radius: 3px;
  --mixin-NgihQT48X29AZm_border-bottom-right-radius: 3px;
  --mixin-NgihQT48X29AZm_border-bottom-left-radius: 3px;
  --mixin-NgihQT48X29AZm_border-top-color: #dddddd;
  --mixin-NgihQT48X29AZm_border-top-width: 1px;
  --mixin-NgihQT48X29AZm_border-top-style: solid;
  --mixin-NgihQT48X29AZm_border-right-color: #dddddd;
  --mixin-NgihQT48X29AZm_border-right-width: 1px;
  --mixin-NgihQT48X29AZm_border-right-style: solid;
  --mixin-NgihQT48X29AZm_border-bottom-color: #dddddd;
  --mixin-NgihQT48X29AZm_border-bottom-width: 1px;
  --mixin-NgihQT48X29AZm_border-bottom-style: solid;
  --mixin-NgihQT48X29AZm_border-left-color: #dddddd;
  --mixin-NgihQT48X29AZm_border-left-width: 1px;
  --mixin-NgihQT48X29AZm_border-left-style: solid;
  --mixin-NgihQT48X29AZm_background: linear-gradient(#f8f8f8, #f8f8f8);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_rich_text *),
:where(.__wab_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_rich_text img),
:where(.__wab_text img) {
}

:where(.li) {
  display: list-item;
}
:where(.__wab_rich_text li),
:where(.__wab_text li) {
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text span),
:where(.__wab_text span) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text input),
:where(.__wab_text input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text textarea),
:where(.__wab_text textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text button),
:where(.__wab_text button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text code),
:where(.__wab_text code) {
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text pre),
:where(.__wab_text pre) {
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text p),
:where(.__wab_text p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h1),
:where(.__wab_text h1) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h2),
:where(.__wab_text h2) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h3),
:where(.__wab_text h3) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h4),
:where(.__wab_text h4) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h5),
:where(.__wab_text h5) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h6),
:where(.__wab_text h6) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_rich_text address),
:where(.__wab_text address) {
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_rich_text a),
:where(.__wab_text a) {
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ol),
:where(.__wab_text ol) {
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ul),
:where(.__wab_text ul) {
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_rich_text select),
:where(.__wab_text select) {
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-KZqDtMvEa8auNt_font-family);
  font-size: var(--mixin-KZqDtMvEa8auNt_font-size);
  font-weight: var(--mixin-KZqDtMvEa8auNt_font-weight);
  font-style: var(--mixin-KZqDtMvEa8auNt_font-style);
  color: var(--mixin-KZqDtMvEa8auNt_color);
  text-align: var(--mixin-KZqDtMvEa8auNt_text-align);
  text-transform: var(--mixin-KZqDtMvEa8auNt_text-transform);
  line-height: var(--mixin-KZqDtMvEa8auNt_line-height);
  letter-spacing: var(--mixin-KZqDtMvEa8auNt_letter-spacing);
  white-space: var(--mixin-KZqDtMvEa8auNt_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset .__wab_text h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-COOYHpioCZ9j-s_color);
  font-weight: var(--mixin-COOYHpioCZ9j-s_font-weight);
  font-size: var(--mixin-COOYHpioCZ9j-s_font-size);
  line-height: var(--mixin-COOYHpioCZ9j-s_line-height);
  letter-spacing: var(--mixin-COOYHpioCZ9j-s_letter-spacing);
  font-family: var(--mixin-COOYHpioCZ9j-s_font-family);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset .__wab_text h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-DQYm63DNjw-48I_color);
  font-weight: var(--mixin-DQYm63DNjw-48I_font-weight);
  font-size: var(--mixin-DQYm63DNjw-48I_font-size);
  line-height: var(--mixin-DQYm63DNjw-48I_line-height);
  letter-spacing: var(--mixin-DQYm63DNjw-48I_letter-spacing);
  font-family: var(--mixin-DQYm63DNjw-48I_font-family);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset .__wab_text a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-OvdSpMXQlkEYua_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset .__wab_text h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-ZKnHZkUjbh5D0N_color);
  font-weight: var(--mixin-ZKnHZkUjbh5D0N_font-weight);
  font-size: var(--mixin-ZKnHZkUjbh5D0N_font-size);
  line-height: var(--mixin-ZKnHZkUjbh5D0N_line-height);
  letter-spacing: var(--mixin-ZKnHZkUjbh5D0N_letter-spacing);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset .__wab_text h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-OYkqlscH9N0EZH_color);
  font-weight: var(--mixin-OYkqlscH9N0EZH_font-weight);
  font-size: var(--mixin-OYkqlscH9N0EZH_font-size);
  line-height: var(--mixin-OYkqlscH9N0EZH_line-height);
  letter-spacing: var(--mixin-OYkqlscH9N0EZH_letter-spacing);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset .__wab_text code),
:where(.root_reset.plasmic_default__code) {
  font-family: var(--mixin-jQXiWNGhthBUYQ_font-family);
  background: var(--mixin-jQXiWNGhthBUYQ_background);
  border-radius: var(--mixin-jQXiWNGhthBUYQ_border-top-left-radius)
    var(--mixin-jQXiWNGhthBUYQ_border-top-right-radius)
    var(--mixin-jQXiWNGhthBUYQ_border-bottom-right-radius)
    var(--mixin-jQXiWNGhthBUYQ_border-bottom-left-radius);
  padding: var(--mixin-jQXiWNGhthBUYQ_padding-top)
    var(--mixin-jQXiWNGhthBUYQ_padding-right)
    var(--mixin-jQXiWNGhthBUYQ_padding-bottom)
    var(--mixin-jQXiWNGhthBUYQ_padding-left);
  border-top: var(--mixin-jQXiWNGhthBUYQ_border-top-width)
    var(--mixin-jQXiWNGhthBUYQ_border-top-style)
    var(--mixin-jQXiWNGhthBUYQ_border-top-color);
  border-right: var(--mixin-jQXiWNGhthBUYQ_border-right-width)
    var(--mixin-jQXiWNGhthBUYQ_border-right-style)
    var(--mixin-jQXiWNGhthBUYQ_border-right-color);
  border-bottom: var(--mixin-jQXiWNGhthBUYQ_border-bottom-width)
    var(--mixin-jQXiWNGhthBUYQ_border-bottom-style)
    var(--mixin-jQXiWNGhthBUYQ_border-bottom-color);
  border-left: var(--mixin-jQXiWNGhthBUYQ_border-left-width)
    var(--mixin-jQXiWNGhthBUYQ_border-left-style)
    var(--mixin-jQXiWNGhthBUYQ_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset .__wab_text blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-EJgFr09PffkiFr_color);
  padding-left: var(--mixin-EJgFr09PffkiFr_padding-left);
  border-left: var(--mixin-EJgFr09PffkiFr_border-left-width)
    var(--mixin-EJgFr09PffkiFr_border-left-style)
    var(--mixin-EJgFr09PffkiFr_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset .__wab_text pre),
:where(.root_reset.plasmic_default__pre) {
  font-family: var(--mixin-NgihQT48X29AZm_font-family);
  background: var(--mixin-NgihQT48X29AZm_background);
  border-radius: var(--mixin-NgihQT48X29AZm_border-top-left-radius)
    var(--mixin-NgihQT48X29AZm_border-top-right-radius)
    var(--mixin-NgihQT48X29AZm_border-bottom-right-radius)
    var(--mixin-NgihQT48X29AZm_border-bottom-left-radius);
  padding: var(--mixin-NgihQT48X29AZm_padding-top)
    var(--mixin-NgihQT48X29AZm_padding-right)
    var(--mixin-NgihQT48X29AZm_padding-bottom)
    var(--mixin-NgihQT48X29AZm_padding-left);
  border-top: var(--mixin-NgihQT48X29AZm_border-top-width)
    var(--mixin-NgihQT48X29AZm_border-top-style)
    var(--mixin-NgihQT48X29AZm_border-top-color);
  border-right: var(--mixin-NgihQT48X29AZm_border-right-width)
    var(--mixin-NgihQT48X29AZm_border-right-style)
    var(--mixin-NgihQT48X29AZm_border-right-color);
  border-bottom: var(--mixin-NgihQT48X29AZm_border-bottom-width)
    var(--mixin-NgihQT48X29AZm_border-bottom-style)
    var(--mixin-NgihQT48X29AZm_border-bottom-color);
  border-left: var(--mixin-NgihQT48X29AZm_border-left-width)
    var(--mixin-NgihQT48X29AZm_border-left-style)
    var(--mixin-NgihQT48X29AZm_border-left-color);
}
