.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox___0V53T {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: linear-gradient(#000000a1, #000000a1),
    url("/plasmic/fathym_acme/images/_4thGradeCrocsjpg.jpeg") left 50% top 50% / cover repeat;
  height: auto;
  align-self: center;
  margin-bottom: -17px;
  min-width: 0;
  padding: 1px 32px 300px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0V53T {
    padding: 6px 20px 85px;
  }
}
.freeBox__msGh3 {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 26px 16px 16px;
}
.freeBox__msGh3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__msGh3 > :global(.__wab_flex-container) > *,
.freeBox__msGh3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__msGh3 > :global(.__wab_flex-container) > picture > img,
.freeBox__msGh3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__msGh3 {
    width: 100%;
    min-width: 0;
    padding: 15px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__msGh3 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__y12Bf {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox__y12Bf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__y12Bf > :global(.__wab_flex-container) > *,
.freeBox__y12Bf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y12Bf > :global(.__wab_flex-container) > picture > img,
.freeBox__y12Bf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y12Bf {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y12Bf > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y12Bf > :global(.__wab_flex-container) > *,
  .freeBox__y12Bf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__y12Bf > :global(.__wab_flex-container) > picture > img,
  .freeBox__y12Bf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox___3WPoy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.link__q8Ssm {
  display: flex;
}
.img__raaXw {
  object-fit: cover;
  width: 200px;
  flex-shrink: 0;
}
.img__raaXw > picture > img {
  object-fit: cover;
}
.img__raaXw > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__j5Nwa {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: 27px;
}
.freeBox__j5Nwa > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__j5Nwa > :global(.__wab_flex-container) > *,
.freeBox__j5Nwa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j5Nwa > :global(.__wab_flex-container) > picture > img,
.freeBox__j5Nwa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j5Nwa > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j5Nwa > :global(.__wab_flex-container) > *,
  .freeBox__j5Nwa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__j5Nwa > :global(.__wab_flex-container) > picture > img,
  .freeBox__j5Nwa
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.link__nwqAx {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__nwqAx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__nwqAx > :global(.__wab_flex-container) > *,
.link__nwqAx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__nwqAx > :global(.__wab_flex-container) > picture > img,
.link__nwqAx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__nwqAx {
    padding: 10px 6px;
  }
}
.svg__lues8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__chYeF {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.svg__y3OIm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__hlx9E {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__hlx9E > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__hlx9E > :global(.__wab_flex-container) > *,
.link__hlx9E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__hlx9E > :global(.__wab_flex-container) > picture > img,
.link__hlx9E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__hlx9E {
    padding: var(--token-ROg-HHkLnrqaW7);
  }
}
.svg__ouia8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__wMlnv {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.svg__yEnHb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__pjltD {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__pjltD > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__pjltD > :global(.__wab_flex-container) > *,
.link__pjltD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__pjltD > :global(.__wab_flex-container) > picture > img,
.link__pjltD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__pjltD {
    padding: var(--token-ROg-HHkLnrqaW7);
  }
}
.svg__s48AC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__vvZo8 {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.link___2VJiR {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link___2VJiR > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___2VJiR > :global(.__wab_flex-container) > *,
.link___2VJiR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___2VJiR > :global(.__wab_flex-container) > picture > img,
.link___2VJiR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___2VJiR {
    padding: var(--token-ROg-HHkLnrqaW7);
  }
}
.svg__otF4Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___53REk {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.svg__ta85V {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.svg__olwZg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__gfGAg {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  cursor: pointer;
  display: none;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__gfGAg > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__gfGAg > :global(.__wab_flex-container) > *,
.link__gfGAg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__gfGAg > :global(.__wab_flex-container) > picture > img,
.link__gfGAg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__gfGAg {
    padding: var(--token-ROg-HHkLnrqaW7);
  }
}
.svg__oEQth {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__lbAaf {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.svg___16OoI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__ptB1V {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  cursor: pointer;
  display: none;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__ptB1V > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__ptB1V > :global(.__wab_flex-container) > *,
.link__ptB1V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__ptB1V > :global(.__wab_flex-container) > picture > img,
.link__ptB1V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__ptB1V {
    padding: var(--token-ROg-HHkLnrqaW7);
  }
}
.svg__d2P30 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__rpIbf {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.svg__etpD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__fgeQm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__p31Lt {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  border-radius: 6px;
  border-width: 0px;
}
.link___2VVfl {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link___2VVfl > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___2VVfl > :global(.__wab_flex-container) > *,
.link___2VVfl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___2VVfl > :global(.__wab_flex-container) > picture > img,
.link___2VVfl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___18S9B {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___4Ogzl {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg__pbiDv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 1080px;
  align-self: auto;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground2 {
    padding-top: 17px;
  }
}
.freeBox__e5Ym {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 689px;
  height: auto;
  max-width: 100%;
  margin-top: calc(168px + 32px) !important;
  background: none;
  padding: 30px;
  border: 1px solid #cccccc57;
}
.freeBox__e5Ym > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__e5Ym > :global(.__wab_flex-container) > *,
.freeBox__e5Ym > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e5Ym > :global(.__wab_flex-container) > picture > img,
.freeBox__e5Ym
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e5Ym {
    margin-top: calc(25px + 32px) !important;
    padding: 20px;
  }
}
.h1 {
  max-width: none;
  width: 100%;
  background: none;
  text-align: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    padding-top: 0px;
    font-size: 28px;
    padding-bottom: 4px;
  }
}
.span {
  color: #ef3f1d;
}
.text__ffC8V {
  font-size: 20px;
  font-weight: 600;
  color: #ef3f1d;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 2px;
  max-width: none;
  width: 100%;
  background: none;
  margin-top: calc(0px + 20px) !important;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ffC8V {
    font-size: 16px;
    margin-top: calc(0px + 20px) !important;
  }
}
.freeBox___3Kfo3 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 100%;
  bottom: auto;
  min-width: 0;
  padding: 161px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3Kfo3 {
    margin-top: calc(0px + 32px) !important;
    padding-top: 86px;
  }
}
.svg__nQl7D {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
  width: 50px;
  flex-shrink: 0;
}
.freeBox__isXf7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #eeeeee;
  margin-top: calc(0px + 0px) !important;
  min-width: 0;
  padding: 68px 8px 17px;
}
.freeBox__rqQs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1200px;
  min-width: 0;
  padding: 8px 8px 34px;
}
.freeBox__twD09 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__jWl99 {
  font-size: 20px;
  font-weight: 600;
  color: #ef3f1d;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 2px;
  max-width: none;
  width: 100%;
  background: none;
  min-width: 0;
  padding: 0px 0px 4px;
}
.h2__p7CmU {
  max-width: none;
  width: 100%;
  background: none;
  text-align: center;
  min-width: 0;
  padding: 7px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__p7CmU {
    font-size: 28px;
  }
}
.section__xyuOh {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: none;
  width: 100%;
  margin-top: 10px;
  min-width: 0;
  padding: 37px 0px 58px;
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__oUpha {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__oUpha > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__oUpha > :global(.__wab_flex-container) > *,
.freeBox__oUpha > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oUpha > :global(.__wab_flex-container) > picture > img,
.freeBox__oUpha
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__ae0K {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__ae0K > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__ae0K > :global(.__wab_flex-container) > *,
.freeBox__ae0K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ae0K > :global(.__wab_flex-container) > picture > img,
.freeBox__ae0K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ae0K > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ae0K > :global(.__wab_flex-container) > *,
  .freeBox__ae0K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ae0K > :global(.__wab_flex-container) > picture > img,
  .freeBox__ae0K
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 30px;
  }
}
.freeBox___0JfSm {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___0JfSm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___0JfSm > :global(.__wab_flex-container) > *,
.freeBox___0JfSm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0JfSm > :global(.__wab_flex-container) > picture > img,
.freeBox___0JfSm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 12px;
}
.freeBox__ibllo {
  background: #ef3f1d;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 8px;
}
.link__gJAdV {
  display: flex;
  color: #e56843;
}
.svg__vTrWg {
  object-fit: cover;
  width: 50px;
  height: 50px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__s2GJp {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__kDKp {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__x9Di {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__x9Di > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__x9Di > :global(.__wab_flex-container) > *,
.freeBox__x9Di > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x9Di > :global(.__wab_flex-container) > picture > img,
.freeBox__x9Di
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h3__iEd3E {
  margin-top: calc(0px + 4px) !important;
  text-align: center;
}
.text___76Sj1 {
  padding-top: 0px;
  text-align: center;
}
.freeBox__oiCv5 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__oiCv5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__oiCv5 > :global(.__wab_flex-container) > *,
.freeBox__oiCv5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oiCv5 > :global(.__wab_flex-container) > picture > img,
.freeBox__oiCv5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oiCv5 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 4px);
    height: calc(100% + 4px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oiCv5 > :global(.__wab_flex-container) > *,
  .freeBox__oiCv5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oiCv5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__oiCv5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 4px;
  }
}
.freeBox__qeRxX {
  background: #ef3f1d;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 8px;
}
.link__c5Els {
  display: flex;
  color: #e56843;
}
.svg__eFJwX {
  object-fit: cover;
  width: 50px;
  height: 50px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__gghS {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__rcJwL {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__oumcT {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__oumcT > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__oumcT > :global(.__wab_flex-container) > *,
.freeBox__oumcT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oumcT > :global(.__wab_flex-container) > picture > img,
.freeBox__oumcT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h3___4OlDb {
  text-align: center;
}
.text__lbSGp {
  padding-top: 0px;
  text-align: center;
}
.freeBox__gme1C {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__gme1C > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__gme1C > :global(.__wab_flex-container) > *,
.freeBox__gme1C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gme1C > :global(.__wab_flex-container) > picture > img,
.freeBox__gme1C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 12px;
}
.freeBox__hVmSy {
  background: #ef3f1d;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 8px;
}
.link__bmE0Y {
  display: flex;
}
.svg___1NUi6 {
  object-fit: cover;
  width: 50px;
  height: 50px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__cZuoZ {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__mCwI {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__dhW3 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__dhW3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__dhW3 > :global(.__wab_flex-container) > *,
.freeBox__dhW3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dhW3 > :global(.__wab_flex-container) > picture > img,
.freeBox__dhW3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h3__viAtO {
  text-align: center;
}
.text___9YsS8 {
  padding-top: 0px;
  text-align: center;
}
.freeBox___4Y5Lm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#000000e8, #000000e8),
    url("/plasmic/fathym_acme/images/pexelsSolomanSoh1492232Jpg.jpeg") top 50% left 50% / cover repeat fixed;
  margin-top: calc(0px + 0px) !important;
  min-width: 0;
  padding: 0px 8px 30px;
}
.freeBox__jsOW {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1200px;
  min-width: 0;
  padding: 8px 8px 34px;
}
.freeBox__nZpJx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 74px 8px 8px;
}
.text__qxN6O {
  font-size: 20px;
  font-weight: 600;
  color: var(--token-7Q5cjq6GOd8LF0);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 2px;
  max-width: none;
  width: 100%;
  background: none;
  min-width: 0;
  padding: 0px 0px 4px;
}
.h2___25OD {
  max-width: none;
  width: 100%;
  background: none;
  text-align: center;
  color: var(--token-vNzSR36_oQD234);
  min-width: 0;
  padding: 0px;
}
.section__tFnt {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: none;
  width: 100%;
  margin-top: 10px;
  min-width: 0;
  padding: 37px 0px 58px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__tFnt {
    flex-wrap: wrap;
    align-items: unset;
    padding-top: 0px;
    padding-bottom: 26px;
  }
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__rQbhQ {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__rQbhQ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__rQbhQ > :global(.__wab_flex-container) > *,
.freeBox__rQbhQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rQbhQ > :global(.__wab_flex-container) > picture > img,
.freeBox__rQbhQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__ygpy7 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__ygpy7 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__ygpy7 > :global(.__wab_flex-container) > *,
.freeBox__ygpy7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ygpy7 > :global(.__wab_flex-container) > picture > img,
.freeBox__ygpy7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ygpy7 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox__xwgK {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__xwgK > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__xwgK > :global(.__wab_flex-container) > *,
.freeBox__xwgK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xwgK > :global(.__wab_flex-container) > picture > img,
.freeBox__xwgK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 0px;
}
.freeBox__akgjf {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 1px;
  border-radius: 8px;
  padding: 0px;
}
.img__ahUte {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ahUte > picture > img {
  object-fit: cover;
}
.img__ahUte > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__xgEez {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__djtaK {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__ptqt9 {
  flex-direction: column;
  display: flex;
  position: relative;
  background: var(--token-vNzSR36_oQD234);
  padding: 30px 15px;
  border-bottom: 5px solid var(--token-7Q5cjq6GOd8LF0);
}
.freeBox__ptqt9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__ptqt9 > :global(.__wab_flex-container) > *,
.freeBox__ptqt9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ptqt9 > :global(.__wab_flex-container) > picture > img,
.freeBox__ptqt9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h3___8R3Jr {
  margin-top: calc(0px + 10px) !important;
  padding-top: 0px;
  color: var(--token-7Q5cjq6GOd8LF0);
}
.text__bKdi4 {
  padding-top: 0px;
  margin-bottom: 0px;
}
.freeBox__khit {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 150px;
  height: auto;
  max-width: 100%;
  margin-top: calc(14px + 10px) !important;
  padding: 0px;
}
.button__kQn8:global(.__wab_instance) {
  max-width: none;
}
.svg___7IsDh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__xz9BX {
  text-transform: uppercase;
  color: var(--token-vNzSR36_oQD234);
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
}
.svg__krudy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___0UvWr {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___0UvWr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox___0UvWr > :global(.__wab_flex-container) > *,
.freeBox___0UvWr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0UvWr > :global(.__wab_flex-container) > picture > img,
.freeBox___0UvWr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0UvWr {
    padding-top: 38px;
  }
}
.freeBox__hk5Kl {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 1px;
  border-radius: 8px;
  padding: 0px;
}
.img__lTQbH {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__lTQbH > picture > img {
  object-fit: cover;
}
.img__lTQbH > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__hgCw {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg___5A1Ms {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__yydox {
  flex-direction: column;
  display: flex;
  position: relative;
  background: var(--token-vNzSR36_oQD234);
  padding: 30px 15px;
  border-bottom: 5px solid var(--token-7Q5cjq6GOd8LF0);
}
.freeBox__yydox > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__yydox > :global(.__wab_flex-container) > *,
.freeBox__yydox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yydox > :global(.__wab_flex-container) > picture > img,
.freeBox__yydox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h3__pS9Y2 {
  margin-top: calc(0px + 10px) !important;
  color: var(--token-7Q5cjq6GOd8LF0);
}
.text__gjaBy {
  padding-top: 0px;
  margin-bottom: 0px;
}
.freeBox__rXsP3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 150px;
  height: auto;
  max-width: 100%;
  margin-top: calc(14px + 10px) !important;
  padding: 0px;
}
.button__p1BO:global(.__wab_instance) {
  max-width: none;
}
.svg__h4R8P {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___2FRiv {
  text-transform: uppercase;
  color: var(--token-vNzSR36_oQD234);
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
}
.svg__pvo5N {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__b007W {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #eeeeee;
  min-width: 0;
  padding: 8px;
}
.freeBox___7POdx {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 56px 128px 66px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7POdx {
    width: 100%;
    min-width: 0;
    padding: 47px 20px 55px;
  }
}
.text__l3Tp {
  font-size: 20px;
  font-weight: 600;
  color: var(--token-7Q5cjq6GOd8LF0);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 2px;
  max-width: none;
  width: 100%;
  background: none;
  min-width: 0;
  padding: 0px 0px 4px;
}
.h2__t01HJ {
  max-width: none;
  width: 100%;
  background: none;
  margin-top: 0px;
  margin-bottom: 34px;
  text-align: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__t01HJ {
    font-size: 25px;
  }
}
.freeBox__s9Iwi {
  flex-direction: row;
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  max-width: 1080px;
}
.freeBox__s9Iwi > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__s9Iwi > :global(.__wab_flex-container) > *,
.freeBox__s9Iwi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s9Iwi > :global(.__wab_flex-container) > picture > img,
.freeBox__s9Iwi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__yMy4M {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__yMy4M > picture > img {
  object-fit: cover;
}
.img__yMy4M > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__nfeLj {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__nfeLj > picture > img {
  object-fit: cover;
}
.img__nfeLj > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__vihVe {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__vihVe > picture > img {
  object-fit: cover;
}
.img__vihVe > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__mH1C {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__mH1C > picture > img {
  object-fit: cover;
}
.img__mH1C > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__yFqS3 {
  flex-direction: column;
  display: flex;
  width: 100%;
  position: relative;
  max-width: 472px;
  margin-top: 49px;
  background: var(--token-vNzSR36_oQD234);
  min-width: 0;
  padding: 30px;
  border-bottom: 6px solid var(--token-7Q5cjq6GOd8LF0);
}
.freeBox__yFqS3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.freeBox__yFqS3 > :global(.__wab_flex-container) > *,
.freeBox__yFqS3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yFqS3 > :global(.__wab_flex-container) > picture > img,
.freeBox__yFqS3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 3px;
}
.img___53LJh {
  position: relative;
  left: auto;
  top: auto;
  width: 96px;
  height: 96px;
  flex-shrink: 0;
  border-radius: 50%;
}
.text__ddMFh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 464px;
  text-align: center;
  font-style: italic;
  font-size: 18px;
  margin-top: calc(9px + 3px) !important;
  color: #535353ba;
  min-width: 0;
}
.text__hNkJv {
  position: relative;
  font-size: 16px;
  color: #8e8e93;
  margin-top: calc(14px + 3px) !important;
  padding-bottom: 0px;
}
.text__vxQx0 {
  position: relative;
  font-size: 16px;
  color: #000000;
  margin-top: calc(0px + 3px) !important;
  font-family: "Roboto", sans-serif;
  padding-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.freeBox___568Fb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #eeeeee;
  min-width: 0;
  padding: 0px;
}
.freeBox__oBzs7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background: linear-gradient(#000000d1, #000000d1),
    url("/plasmic/fathym_acme/images/pexelsScottWebb2346594Jpg.jpeg") top 50% left 50% / cover no-repeat;
  min-width: 0;
  padding: 85px 64px 91px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oBzs7 {
    padding: 45px 30px 53px;
  }
}
.freeBox___02ZiD {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.freeBox___02ZiD > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox___02ZiD > :global(.__wab_flex-container) > *,
.freeBox___02ZiD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___02ZiD > :global(.__wab_flex-container) > picture > img,
.freeBox___02ZiD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___02ZiD {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___02ZiD > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___02ZiD > :global(.__wab_flex-container) > *,
  .freeBox___02ZiD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___02ZiD > :global(.__wab_flex-container) > picture > img,
  .freeBox___02ZiD
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__u22Je {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__u22Je > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__u22Je > :global(.__wab_flex-container) > *,
.freeBox__u22Je > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u22Je > :global(.__wab_flex-container) > picture > img,
.freeBox__u22Je
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.img__yE {
  object-fit: cover;
  width: 100px;
  position: relative;
}
.img__yE > picture > img {
  object-fit: cover;
}
.img__yE > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__sxqL3 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__sxqL3 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sxqL3 > :global(.__wab_flex-container) > *,
.freeBox__sxqL3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sxqL3 > :global(.__wab_flex-container) > picture > img,
.freeBox__sxqL3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___51E1I {
  color: #ffffff;
}
.freeBox__ruggq {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__ruggq > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ruggq > :global(.__wab_flex-container) > *,
.freeBox__ruggq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ruggq > :global(.__wab_flex-container) > picture > img,
.freeBox__ruggq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__ai6Zn {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-vNzSR36_oQD234);
  flex-shrink: 0;
}
.svg__aSRg6 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-vNzSR36_oQD234);
  flex-shrink: 0;
}
.svg__xbi9B {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-vNzSR36_oQD234);
  flex-shrink: 0;
}
.freeBox__zlym0 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__zlym0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zlym0 > :global(.__wab_flex-container) > *,
.freeBox__zlym0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zlym0 > :global(.__wab_flex-container) > picture > img,
.freeBox__zlym0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__noJma {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  padding-left: 0px;
  color: var(--token-vNzSR36_oQD234);
}
.link__ztP8 {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__ztP8 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__ztP8 > :global(.__wab_flex-container) > *,
.link__ztP8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__ztP8 > :global(.__wab_flex-container) > picture > img,
.link__ztP8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__wI1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__cn95M {
  height: auto;
  color: var(--token-vNzSR36_oQD234);
}
.svg__qx0Dp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__vSrK {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__vSrK > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__vSrK > :global(.__wab_flex-container) > *,
.link__vSrK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__vSrK > :global(.__wab_flex-container) > picture > img,
.link__vSrK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__oerRj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__ksNIx {
  height: auto;
  color: var(--token-vNzSR36_oQD234);
  padding-right: 0px;
}
.svg__qY3Ca {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__qNpjJ {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__qNpjJ > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__qNpjJ > :global(.__wab_flex-container) > *,
.link__qNpjJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__qNpjJ > :global(.__wab_flex-container) > picture > img,
.link__qNpjJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___4XWu5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___6BEjZ {
  height: auto;
  color: var(--token-vNzSR36_oQD234);
}
.svg__bpo4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__klJz1 {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__klJz1 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__klJz1 > :global(.__wab_flex-container) > *,
.link__klJz1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__klJz1 > :global(.__wab_flex-container) > picture > img,
.link__klJz1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__eAvLb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__pC7O1 {
  height: auto;
  color: var(--token-vNzSR36_oQD234);
}
.svg__nNDe2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__f0BOg {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__f0BOg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__f0BOg > :global(.__wab_flex-container) > *,
.freeBox__f0BOg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f0BOg > :global(.__wab_flex-container) > picture > img,
.freeBox__f0BOg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__qVsjY {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  color: var(--token-vNzSR36_oQD234);
}
.link__osjAz {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__osjAz > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__osjAz > :global(.__wab_flex-container) > *,
.link__osjAz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__osjAz > :global(.__wab_flex-container) > picture > img,
.link__osjAz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___7M8XO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___2H18 {
  height: auto;
  color: var(--token-vNzSR36_oQD234);
}
.svg__f51Qe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link___4Kg9X {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link___4Kg9X > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___4Kg9X > :global(.__wab_flex-container) > *,
.link___4Kg9X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___4Kg9X > :global(.__wab_flex-container) > picture > img,
.link___4Kg9X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__zbdhn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__ltdZ {
  height: auto;
  color: var(--token-vNzSR36_oQD234);
}
.svg__xrDYw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__bvZ2T {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__bvZ2T > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__bvZ2T > :global(.__wab_flex-container) > *,
.link__bvZ2T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__bvZ2T > :global(.__wab_flex-container) > picture > img,
.link__bvZ2T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__tFxZw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___8KUfz {
  height: auto;
  color: var(--token-vNzSR36_oQD234);
}
.svg___7QgSy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__v9Iou {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__v9Iou > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__v9Iou > :global(.__wab_flex-container) > *,
.link__v9Iou > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__v9Iou > :global(.__wab_flex-container) > picture > img,
.link__v9Iou
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__eiuaA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__lgG4Q {
  height: auto;
  color: var(--token-vNzSR36_oQD234);
}
.svg__q2IrT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__d79M1 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__d79M1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__d79M1 > :global(.__wab_flex-container) > *,
.freeBox__d79M1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d79M1 > :global(.__wab_flex-container) > picture > img,
.freeBox__d79M1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__xWWrS {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  color: var(--token-vNzSR36_oQD234);
}
.text___7QLiu {
  position: relative;
  height: auto;
  color: var(--token-vNzSR36_oQD234);
}
.text__nWql {
  position: relative;
  height: auto;
  color: var(--token-vNzSR36_oQD234);
}
.text__bWekE {
  position: relative;
  height: auto;
  color: var(--token-vNzSR36_oQD234);
}
.text__gnEwc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-vNzSR36_oQD234);
  text-align: center;
  margin-top: 45px;
  min-width: 0;
}
